#footer{
	background: #03091e;
}
#footer a{
	color: white;
}
#navbar img{
	max-width: 80px;
}
#carrusel .carousel-inner img{
	max-height: 70vh;
	object-fit:  fill;
	filter: grayscale(70%);
}
#carousel{
	position: relative;

}
#carousel .overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	
}
#carousel .overlay .container, #carousel .overlay .row{
	height:100%;
}
.btn-platzi{
	background-color: #97c93e;
	color: white !important;
}
.btn-platzi:hover{
	background-color: #759b33;
}
.text-platzi{
	color: #97c93e !important;
}
#place-time img{
	max-width:100%;
}
#place-time {
	background-color:#343a40;
	color: white;
}